<!-- <div class="home-container">
    <h1>Bem-vindo à Barbearia Shop</h1>
  </div>
   -->

   <div class="home-container">
    <div class="content-wrapper">
      <div class="left-content">
        <h2 class="welcome-text">
          Seja Bem Vindo(a) a Barber Shop!
        </h2>
        <p class="intro-text">Transforme seu visual, renove sua confiança.</p>
      </div>
  
      <div class="right-content">
        <img
          src="https://ik.imagekit.io/ajt99blle/barbershop-waiting-clients-concept-illustration.png?updatedAt=1741391165916"
          alt="Imagem da Página Home"
          class="home-image"
        />
      </div>
    </div>
  </div>
  